{% extends "model-page.html" %}
    {% block content %}

        <h2>Horários</h2>
        <a href="/agenda/evento">
        <button>Novo evento</button>
        </a>

        <ul style="font-size: 20px;">
            {% for evento in eventos %}
                <li>{{evento.titulo}} - {{evento.get_data_evento}}</li>
                (<a href="/agenda/evento/?id={{evento.id}}">Editar</a> /
                 <a href="evento/delete/{{evento.id}}/">Excluir</a>)
            {%endfor%}
        </ul>
    {% endblock %}
